@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    background-color: #5aa;
    color: #fff;
}   
h1{
    text-align: center;
    color: #ffb;
    font: bold 50px 'Quicksand';
}
h2{
    text-align: center;
    font: 25px 'Lucida Sans';
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    margin-left: 7%;
    margin-top: 60px;
    margin-bottom: 10px;
    font: bold 35px 'Quicksand';
    width: 110px;
    background-color: #7bb;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 20px aquamarine;
    border-radius: 15px;

}
h3:hover{
    color: aquamarine;
}
img{
    float: left;
    border: aquamarine, solid, 4px;
    margin: 15px 20px 5px 2%;
    width: 300px;
    border-radius: 15px;
}
a:link{
    color: rgb(130, 255, 255);
    text-decoration: none;
}
a:visited{
    color: aqua;
}
a:hover{
    color: #fff;
    text-decoration: underline;
}
a:active{
    color: #fff;
}
p{
    width: 90%;
    color: white;
    font-size: 20px;
    line-height: 2em;
    margin: 1% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.highlight{
    font-weight: 700;
    background: #5aa;
    padding: 2px 6px;
    border-radius: 6px;
}
.bold{
    font-weight: bold;
}
#container{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #8bb;
    padding: 1% 2%;
    border-left: 10px double #ecf;
    border-right: 10px double #ecf;
    text-align: justify;
}
#sidebar{
    background-color: #9db;
    width: 25%;
    float: right;
    border: 6px solid #8cb;
    border-radius: 15px;
    margin: 15px 2% 5px 20px;
    font: 15px 'Lucida Sans';
    padding-right: 25px;
    h3{
        font-size: 20px;
        margin: 15px;
        width: 75%;
        text-align: justify center;
        margin-top: 20px;
        background: none;
        border-left: none;
        padding-left: 0px auto;
        padding-right: 10px;
        border-radius: 0px;
    }
}
#titleb{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #8cc;
    border-color: white;
}
@media (max-width: 1200px){
    #container{
        background-color: #599;
        width: 90%;
    }
    .highlight{
        font-weight: 700;
        background: #7db;
        padding: 2px 6px;
        border-radius: 6px;
    }
    #sidebar{
        background-color: #9db;
        h3{
            color: #ffb;
        }
        border-color: #7ba;
    }
}
@media (max-width: 992px){
    #container{
        width: 90%;
    }
    #sidebar{
        display: none;
    }
}
@media (max-width: 768px){
    img{
        clear:both;
        border: none;
        width: 95%;
    }
    h3{
        margin: 15 auto;
    }
}