body{
    background-color: #7aa;
    color: #fff;
    font-family: Arial;
}   
h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    margin-left: 30px;
    font-size: 30px;
    text-align: center;
}
img{
    float: left;
    border: #fff, solid, 3px;
    margin: 2%;
    width: 250px;
}
a:link{
    color: rgb(130, 255, 255);
    text-decoration: none;
}
a:visited{
    color: aqua;
}
a:hover{
    color: #fff;
    text-decoration: underline;
}
a:active{
    color: #fff;
}
/*#cca{
    stuff
}*/

p {
    width: 90%;
    color: white;
    font-size: 20px;
    line-height: 2em;
    margin: 1% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#container{
    width: 85%;
    margin: 0 auto;
    background-color: #9bb;
    padding: 1% 2%;
    border-left: 5px double white;
    border-right: 5px double white;
    text-align: justify;
}
#sidebar{
    background-color: #bdd;
    width: 25%;
    float: right;
    border: 2px solid white;
    margin: 15px;
}
#titleb{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 100px;
    margin-left: 100px;
    width: 50%
    border: 2px solid white;
    border-radius: 20px;
    background-color: #9bb;
    border-color: white;
}
 @media (max-width: 1200px){
    #container{
        background-color: #699;
        width: 90%;
    }
}
@media (max-width: 992px){
    #container{
        width: 90%;
    }
    #sidebar{
        display: none;
    }
}
@media (max-width: 768px){
    img{
        clear:both;
        border: none;
        width: 95%;
    }
    h3{
        margin: 15 auto;
    }
}